@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  background-color: #0a0a0a;
}

body {
  @apply text-zinc-300 antialiased; /* 폰트 가독성 향상 */
}

/* 텍스트 선택 시 색상 */
::selection {
  background-color: #ffffff;
  color: #000000;
}
